* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  color: black;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: rgb(226, 226, 226);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p a {
  color: rgb(22, 22, 22);
}
